.flash { border-left:6px solid #64748b; } /* valor por defecto */
.flash-success { border-left-color:#16a34a; }
.flash-warning { border-left-color:#f59e0b; }
.flash-danger  { border-left-color:#dc2626; }
